body {
  font-family: sans-serif;
  font-size: 20;
  font-weight: bold;
}

img {
  width: 250;
}

canvas {
  width: 600;
  height: 40;
  border: 1px solid #000000;
  margin-top: 15;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  margin-top: 30;
  margin-bottom: 10;
}

#gameover {
  position: absolute;
  display: none;
  font-weight: bold;
  font-size: 100;
  z-index: 100;
}

#user, #learner {
  position: absolute;
  font-weight: bold;
  font-size: 30; 
  height: 100%; 
  width: 100%;
}

#user {
  background-color: rgba(0, 140, 186, 0.3);
}

#learner {
  background-color: rgba(255, 71, 26, 0.3);
}

#userScore, #learnerScore {
  font-size: 30;
}

#userScore {
  color: #008CBA;
}

#learnerScore {
  color: #ff471a;
}

.label {
  font-size: 25;
  width: 200;
  text-align: right;
  margin-right: 10;
}

.score {
  font-size: 25;
  width: 200;
  margin-left: 10;
  text-align: left;
}

.button {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 20px;
}

.description {
  font-weight: normal;
  text-align: center;
  font-size: 18;
}